/* BANNER DE INDEX */
@mixin banners {
    width: 98%;
    height: 35vh;
    object-fit: cover;
}

.banner-container {
    position: relative;
    text-align: center;
}

.banner-image {
    @include banners;
}

.banner-title {
    position: absolute;
    top: 33%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    background-color: black transparent;
    padding: 10px 20px;
    font-size: 5em;
    font-weight: bolder;
}

.banner-subtitle {
    position: absolute;
    top: 70%;
    left: 46%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 2em;
    font-weight: bold;
}

.banner-background {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Banner responsive */

@media (max-width: 768px) {
    .banner-title {
        font-size: 3em;
    }

    .banner-subtitle {
        font-size: 1em;
    }
}

@media (max-width: 1200px) {
    .banner-title {
        font-size: 2em;
    }

    .banner-subtitle {
        font-size: 1.5em;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .banner-title {
        font-size: 3em;
    }

    .banner-subtitle {
        font-size: 2em;
    }
}

.bg-imagen {
    background-image: url(../img/profesionaldetraje.jpg);
}